body{
    background-color: white;

}
 .menu{
     display: flex;
     justify-content: flex-end;
     list-style: none;
     top: 0;
     font-size: 15px ;
     margin-right: 20px;
 }
 
 .gmail{
     display: inline-block;
     font-family: arial,sans-serif;
     font-size: 13px;
     list-style:none;
     margin: 10px;
 }

 .Imagenes{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 13px;
    margin: 10px;
 }

 ul{
     list-style: none;
     text-align: end;
     margin: 20px;
 }

 a{
     text-decoration:none;
     cursor: pointer;
 }


 .logo{
     display: inline-block;
     margin: 0 auto;
     margin-top: 12%;
     width: 350px;
     height: 60px;
     display:inline-block;
     margin-left: 40%;
 }



 .input{
     margin-left: 670px;
     margin-bottom: 12%;
     border: 1px solid gray;
     padding:10px 25px;
     outline:none;
     border-radius: 50px;
     font-size: 20px;
     width: 500px;

 }

